<!doctype html>
<html lang="en">
  <head>
    <title><%= site_title %></title>

    <!-- META
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="<%= site_url %>/assets/css/app.css">

    <!-- RSS
    ================================================== -->
    <link rel="alternate" type="application/rss+xml" title="Fifth Letter RSS" href="/rss.xml">
  </head>
  <body class="page-<%- current.path[0] %>">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="row">
        <div class="content bordered-wrapper col-sm-12 col-md-10 col-md-offset-1">
          <div class="row">
            <aside class="content-sidebar col-sm-3 hidden-xs">
              <nav class="nav nav-book">
                <h3 class="nav-title">The Book</h3>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">Excerpts</a></li>
                  <li><a href="#">Purchase</a></li>
                </ul>
              </nav> <!-- /.nav nav-book -->
              <nav class="nav nav-author">
                <h3 class="nav-title">The Author</h3>
                <ul>
                  <li><a href="#">Biography</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Media</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
              </nav> <!-- /.nav nav-author -->
            </aside> <!-- /.content-sidebar col-sm-3 -->
            <%- yield %>
          </div> <!-- /.row -->
          <div class="corner corner-tl"></div> <!-- /.corner corner-tl -->
          <div class="corner corner-tr"></div> <!-- /.corner corner-tr -->
          <div class="corner corner-br"></div> <!-- /.corner corner-br -->
          <div class="corner corner-bl"></div> <!-- /.corner corner-bl --> 
        </div> <!-- /.col-sm-12 col-md-10 col-md-offset-1 -->
      </div> <!-- /.row -->
      

    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p><small>&copy; 2014 <%= site_title %></small></p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right"></p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JS
    ================================================== -->
    <script src="<%= site_url %>/assets/js/bootstrap.min.js"></script>
    <script src="<%= site_url %>/assets/js/app.js"></script>

  </body>
</html>
